@model angelith.ViewModels.BookCustomerViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h2>Book Details</h2>
<p><strong>Title:</strong> @Model.Book.Title</p>
<p><strong>Author:</strong> @Model.Book.Author</p>

<h2>Customer Details</h2>
<p><strong>Full Name:</strong> @Model.Customer.FullName</p>
<p><strong>Email:</strong> @Model.Customer.Email</p>